# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.tfstate
**/.tfstate.*

**/*.tfvars
terraform/terraform.tfvars

terraform/modules/cloudfront/lambda_package/**
terraform/modules/cloudfront/auth_function.zip

**/config.json
**/*.zip
