# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.tfstate
**/.tfstate.*

**/*.tfvars
infra/terraform.tfvars

infra/modules/cloudfront/lambda_package/**
infra/modules/cloudfront/auth_function.zip

**/config.json
**/*.zip
