@media(max-width: 1071px) {
    .event-section .menu-item-inner .choice-container {
        height: 160px;
    }
}

@media(max-width: 1108px) {
    .people-section .people-item {
        height: 550px;
    }

    .people-section .people-item-inner {
        height: 100%;
    }
}

@media(max-width: 923px) {
    .header .logo {
        padding: 8px 15px;
    }

    .header .hamburger-btn {
        display: flex;
        margin-right: 15px;
    }

    .header .nav {
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
        display: none;
    }

    .header .nav ul li {
        display: block;
        margin-left: 0;
    }

    .header .nav ul li a {
        color: #555555;
        padding: 10px 0;
    }

    .home-section .home-content h1 {
        font-size: 60px;
    }

    .couple-section .couple {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }

    .couple-section .couple:nth-child(2){
        margin-top: 50px;
    }

    .couple-section .couple:nth-child(2):before {
        content: none;
    }

    .couple-section .couple i.fa-heart {
        display: none;
    }

    /* .event-section .timeline-content:before {
        left: 20px;
    } */

    /* .event-section .timeline-item i {
        margin-left: 0px;
        left: 5px;
    } */

    .event-section .event-item:nth-child(2) {
        transform: translateY(0px);
    }

    .event-section .menu-item:nth-child(2) {
        transform: translateY(0px);
    }

    .accommodation-section .accommodation-item:nth-child(2) {
        transform: translateY(0px);
    }

    .event-section .event-item,
    .event-section .menu-item,
    .event-section .menu-item .menu-item-inner,
    .accommodation-section .accommodation-item,
    .faq-section .faq-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* .event-section .timeline-text {
        flex: 0 0 100%;
        max-width: 50%;
    } */

    .event-section .menu-item:nth-child(1),
    .event-section .menu-item:nth-child(3) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* .event-section .timeline-item:nth-child(odd) .timeline-text {
        padding: 0 15px 0 50px;
        text-align: left;
    }

    .event-section .timeline-item:nth-child(even) .timeline-text {
        padding: 0 15px 0 50px;
    } */

    .registry-section .registry-description {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 20px;
    }

    .registry-section .registry-cards {
        flex: 0 0 100%;
        max-width: 100%;
        padding:20px 20px;
    }
}

@media(max-width: 574px){
    .rsvp-section .form {
        padding: 40px 0px;
    }
    .home-section .home-content h1 {
        font-size: 40px;
    }

    .event-section .timeline-text {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .rsvp-section .form .input-group.w50,
    .gallery-section .gallery-item,
    .people-section .people-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer .footer-content .couple-name {
        width: 290px;
        height: 290px;
    }

    .footer .footer-content .couple-name p,
    .footer .footer-content .couple-name h2 {
        font-size: 32px;
    }

    .people-section .people-item {
        height: auto; /* Reset height for mobile */
    }
}
