/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

/* Default Styling */

body {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    background-color: #f3f2f1;
}

*:not(i) {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:before,:after{
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    max-width: 1180px;
    margin: auto;
}

header, section, footer {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 45px;
    color: #000000;
    font-weight: 500;
    /* font-family: "Great Vibes"; */
    font-family: "Baskervville";
    font-style: italic;
    letter-spacing: 2px;
    margin: 0;
    /* text-transform: capitalize; */
}

.section-title p {
    font-family: "Baskervville";
    font-size: 26px;
    font-weight: normal;
}

.btn-1 {
    padding: 10px 35px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s ease;
    font-weight: 500;
}

.btn-1:focus {
    outline: none;

}

.btn-1:hover {
    background-color: transparent;
    /* background-color: #F5B29D; */
}

/* Header */

.header {
    position: fixed;
    background-color: transparent;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease;
}

.header.fixed {
    background-color: #ffffff;
    box-shadow: 0 0 8px #cccccc;
}

.header .logo {
    padding: 0 15px;
}

.header .logo a {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    /* font-family: 'Great Vibes'; */
    font-family: "Baskervville";
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.header.fixed .logo a {
    color: #000000;
}

.header .hamburger-btn {
    display: inline-block;
    height: 34px;
    width: 40px;
    border-radius: 3px;
    border:  1px solid #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;
}

.header.fixed .hamburger-btn {
    border-color: #000000;
    background-color: #000000;
}

.header .hamburger-btn span {
    display: block;
    height: 1px;
    width: 16px;
    background-color: #ffffff;
    position: relative;
    transition: all 0.5s ease;
}

.header .hamburger-btn span:before,
.header .hamburger-btn span:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #ffffff;
}

.header .hamburger-btn span:before {
    top: -6px;
}

.header .hamburger-btn span::after {
    top: 6px;
}

.header .nav {
    padding: 0 15px;
}

.header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav ul li {
    display: inline-block;
    margin-left: 30px;
}

.header .nav ul li a {
    display: block;
    padding: 25px 0;
    color: #ffffff;
    font-size: 20px;
    font-family: Baskervville;
    text-transform: lowercase;
    text-decoration: none;
    transition: color 0.5s ease;
    font-weight: bold;
    /* text-shadow: 1px 1px 4px #000000; */
}

.header.fixed .nav ul li a {
    color: #555555;
}

/* Home Section */
.home-section {
    min-height: 100vh;
    /* background-color: #e1aa96; */
    position: relative;
}

.home-section .slide {
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.home-section .slide.active {
    opacity: 1;
    visibility: visible;
}
.home-section .slide:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #D8B1AC;
    z-index: -1;
    opacity: 1;
}

.home-section .row {
    min-height: 100vh;
}

.home-section .home-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
}

.home-section .home-content p {
    font-size: 24px;
    color: #ffffff;
    margin: 0 0 15px;
    font-family: "Baskervville";
    font-weight: normal;
}

.home-section .home-content h1 {
    font-size: 80px;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
    font-family: "Baskervville";
}

.home-section .home-content span {
    font-size: 20px;
    display: block;
    /* border: 1px solid #ffffff;
    border-radius: 30px; */
    color: #ffffff;
    padding: 7px 30px;
    margin: 15px 0 0;
    font-weight: normal;
    font-family: "Baskervville";
}

.home-section .home-content a {
    border: 1px solid #ffffff; /* Updated border color */
    border-radius: 20px;
    display: inline-block;
    color: #ffffff;
    padding: 7px 30px;
    margin: 15px 0 0;
    font-size: 20px;
    font-weight: normal;
    font-family: "Baskervville";
    transition: 0.5s ease;
    background: rgba(0, 0, 0, 0.25); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blur effect */
    -webkit-backdrop-filter: blur(5px); /* Blur effect for Safari */
}

.home-section .home-content a:hover {
    background-color: #D7A7A0; /* Slightly darker on hover */
}

/* Couple Section */

.couple-section {
    padding: 80px 0 0;
}

.couple-section .couple {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 60px;
    text-align: center;
    position: relative;
}

.couple-section .couple:nth-child(2):before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #cccccc;
}

.couple-section .couple i.fa-heart {
    position: absolute;
    left: -15px;
    width: 31px;
    background-color: #f3f2f1;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    top: 30%;
}

.couple-section .couple img {
    max-width: 280px;
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}

.couple-section .couple h3 {
    font-size: 40px;
    margin: 15px 0;
    /* font-family: 'Great Vibes'; */
    font-family: "Baskervville";
    font-weight: normal;
    letter-spacing: 2px;
}

.couple-section .couple p {
    font-size: 16px;
    line-height: 26px;
    color: #555555;
    font-family: Playfair;
}

/* People Section */

.people-section {
    padding: 80px 10px 80px 10px;
}

.people-section .people-filter {
    /* background-color: red; */
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.people-section .filter-btn {
    background-color: #dedede;
    color: #555555;
    padding: 7px 15px;
    display: inline-block;
    margin: 0 3px;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: baskervville;
    /* border-radius: 25px; */
}

.people-section .filter-btn.active {
    color: #ffffff;
}

.people-section .people-item {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 15px;
    display: none;
}

.people-section .people-item-inner {
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
}

.people-section .people-item-inner img {
    width: 100%;
    box-shadow: 0 0 15px #cccccc;
    margin-top: 0px;
    transition: all 0.5s ease;
}

.people-section .people-item-inner:hover img {
    transform: scale(0.95);
}

.people-section .people-item-inner h4 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 20px 0 5px;
    text-transform: capitalize;
    font-family: Baskervville;
}

.people-section .people-item-inner p {
    color: #555555;
    font-size: 16px;
    margin: 0 0 10px;
    /* text-transform: capitalize; */
    font-family: playfair;
}

/* Event Section */

.event-section {
    padding: 80px 0 100px 0px;
}

.event-section .section-title h2 {
    color: #ffffff;
    padding: 25px 0;
    margin: auto;
}

.event-section .section-title p {
    font-size: 30px;
    color: #ffffff;
    margin: 0 0 5px 0;
    font-family: "Baskervville";
    font-weight: 500;
}

.event-section .event-map {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.event-section .event-map iframe {
    padding: 10px 10px 10px 10px;
    margin: auto;
}

.event-section .event-item {
    flex: 0 0 33.3%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.event-section .event-item-inner {
    background-color: #ffffff;
    padding: 60px 45px 100px;
    text-align: center;
    box-shadow: 0 0 10px #888888;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.event-section .event-item-inner::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 5px solid transparent;
    z-index: -1;
}

.event-section .event-item-inner h3 {
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    display: inline-block;
    font-family: Baskervville;
}

.event-section .event-item-inner span {
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.event-section .event-item-inner span.time {
    margin-bottom: 15px;
}

.event-section .event-item-inner p {
    font-size: 16px;
    line-height: 26px;
    color: #555555;
    margin: 0;
}

.event-section .menu-item {
    flex: 0 0 33.3%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}


.event-section .menu-item-inner {
    background-color: #ffffff;
    padding: 60px 45px 45px; /* Reduce bottom padding */
    text-align: center;
    box-shadow: 0 0 10px #888888;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
}

.event-section .menu-item-inner::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 5px solid transparent;
    z-index: -1;
}

.event-section .menu-item-inner h3 {
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 1px;
    text-transform: capitalize;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 1px;
    display: inline-block;
    font-family: Baskervville;

}

.event-section .menu-item-inner .choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0; /* Adjust padding for spacing */
    position: relative;
    height: 150px; /* Set a consistent height for each choice-container */
}

.event-section .menu-item-inner .choice-container:not(:last-child)::after {
    content: '';
    display: block;
    border-bottom: 1px solid #cccccc; /* Apply the same border-bottom as h3 */
    width: 80%; /* Match the width of the h3 element */
    position: absolute;
    bottom: 0;
    left: 10%;
}

.event-section .menu-item-inner .choice-container span {
    font-weight: bold; /* Make span elements bold */
    font-size: 16px;
    font-family: Baskervville;
}

.event-section .menu-item-inner .choice-container p {
    font-weight: normal; /* Make p elements not bold */
    font-size: 16px;
    margin: 5px 0 0; /* Adjust margin for spacing */
    font-family: Playfair;
}

.event-section .timeline-content {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.event-section .timeline-content:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #ffffff;
}

.event-section .timeline-item i {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 5px;
    width: 31px;
    text-align: center;
    padding: 5px;
    color: #ffffff;
    font-size: 18px;
}

.event-section .timeline-item {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    margin-bottom: 50px;
    position: relative;
}

.event-section .timeline-item:last-child{
    margin-bottom: 0px;
}

.event-section .timeline-item:nth-child(even){
    flex-direction: row-reverse;
}

.event-section .timeline-item:nth-child(odd) .timeline-text{
    padding: 0 60px 0 15px;
    text-align: right;
}

/* .event-section .timeline-item:nth-child(odd) .timeline-img{
    padding: 0 15px 0 60px;
    text-align: right;
} */

.event-section .timeline-item:nth-child(even) .timeline-text{
    padding: 0 15px 0 60px;
    text-align: left;
}

/* .event-section .timeline-item:nth-child(even) .timeline-img{
    padding: 0 60px 0 15px;
    text-align: right;
} */

.event-section .timeline-text {
    flex: 0 0 50%;
    max-width: 50%;
}

/* .event-section .timeline-img {
    flex: 0 0 50%;
    max-width: 19%;
} */

.event-section .timeline-text h3 {
    font-size: 28px;
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 15px;
    /* text-transform: capitalize; */
    font-family: Baskervville;
}

.event-section .timeline-text span {
    display: block;
    color: #ffffff;
    font-weight: 500;
    font-size: 28px;
    font-family: Baskervville;
    margin: 0 0 15px;
    display: block;
}

/* Accommodation Section */

.accommodation-section {
    padding: 80px 0 40px;
}

.accommodation-section .accommodation-item {
    flex: 0 0 33.3%;
    max-width: 33.33%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.accommodation-section .accommodation-item-inner {
    background-color: #ffffff;
    padding: 60px 45px 100px;
    text-align: center;
    box-shadow: 0 0 10px #888888;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    z-index: 1;
}

.accommodation-section .accommodation-item-inner::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 5px solid transparent;
    z-index: -1;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
    max-height: 100%;
}

.accommodation-section .accommodation-item-inner h3 {
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    margin-top: 10px;
    text-transform: capitalize;
    border-bottom: 1px solid #cccccc;
    font-family: Baskervville;
    display: inline-block;
}

.accommodation-section .accommodation-item-inner span {
    display: block;
    font-weight: 500;
    font-size: 16px;
    font-family: Baskervville;
}

.accommodation-section .accommodation-item-inner p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #555555;
    flex-grow: 1;
    margin-bottom: 20px;
    font-family: playfair;
}

.accommodation-section .accommodation-item-inner .btn-1 {
    align-self: center; /* Horizontally center the button */
    margin-top: auto; /* Push the button to the bottom */
}

/* FAQ Section */

.faq-section {
    padding: 80px 0 40px;
}

.faq-section .section-title p {
    padding-top: 25px;
    font-size: 28px;
    line-height: 26px;
    color: #555555;
    font-family: Baskervville;
}

.faq-section .faq-item {
    flex: 0 0 33.3%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.faq-section .faq-item-inner {
    background-color: #ffffff;
    padding: 60px 45px 100px;
    text-align: center;
    box-shadow: 0 0 10px #888888;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.faq-section .faq-item-inner::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 5px solid transparent;
    z-index: -1;
}

.faq-section .faq-item-inner h3 {
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 15px;
    /* text-transform: capitalize; */
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    display: inline-block;
    font-family: Baskervville;
}

.faq-section .faq-item-inner span {
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.faq-section .faq-item-inner span.time {
    margin-bottom: 15px;
}

.faq-section .faq-item-inner p {
    font-size: 16px;
    line-height: 26px;
    color: #555555;
    margin: 0;
}

.faq-section .faq-item-inner .btn-1 {
    align-self: center; /* Horizontally center the button */
    margin-top: auto; /* Push the button to the bottom */
}

/* RSVP Section */

.rsvp-section {
    padding: 80px 0 80px;
}

.rsvp-section .section-title h2,
.rsvp-section .section-title p {
    color: #ffffff;
}

.rsvp-section .section-title p {
    font-family: Baskervville;
    margin: 10px 0 0;
    font-size: 32px;
    line-height: 26px;
}

.rsvp-section .section-title .rsvp-text {
    font-size: 26px;
}

.rsvp-section .rsvp-form {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.rsvp-section .form {
    max-width: 600px;
    /* background-color: #ffffff; */
    background: rgba(0, 0, 0, 0.25);
    color: white;
    margin: auto;
    padding: 60px 25px;
    box-shadow: 0 0 10px #888888;
    border-radius: 16px;
}

.rsvp-section .form .input-group {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.rsvp-section .form .input-group.w50 {
    flex: 0 0 50%;
    max-width: 50%;
}

.rsvp-section .form .input-control {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #ffffff;
    padding: 6px 12px;
    border: 1px solid #cccccc;
}

.rsvp-section .form label {
    font-family: "Playfair";
    color: #ffffff;
    margin-bottom: 5px;
    display: block;
}

.rsvp-section .form textarea.input-control {
    height: 120px;
    padding-top: 12px;
    resize: none;
}

.rsvp-section .form .input-control:focus {
    outline: none;
}

#meal-options {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rsvp-section .form .input-group-btn {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.rsvp-section .form .input-group-btn .btn-1 {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.rsvp-section .form .input-group-btn .btn-1:hover {
    background-color: #D7A7A0;;
    color: #ffffff;
}

.rsvp-section .form select.input-control {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 30px;
    cursor: pointer;
    font-family: "Playfair";
}

.rsvp-section .form select.input-control option {
    background-color: #ffffff;
    color: #000000;
    font-family: "Playfair";
}

.rsvp-section .form select.input-control:focus {
    outline: none;
}

.rsvp-section .form select.input-control option[value=""][disabled] {
    color: #ffffff;
}

input[type="text"] {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

::placeholder {
    color: #ffffff;
    font-family: "Playfair";
}

textarea {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Footer */

.footer {
    padding: 120px 0 120px;
}

.footer .footer-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.footer .footer-content .couple-name {
    width: 400px;
    height: 400px;
    /* border: 1px solid #cccccc; */
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.footer .footer-content .couple-name img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(100deg);
}

.footer .footer-content .couple-name h2 {
    font-size: 40px;
    /* font-family: "Great Vibes"; */
    font-family: "Baskervville";
    color: #000000;
    margin: 0;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.footer .footer-content .couple-name h2 span {
    /* font-family: "Great Vibes"; */
    font-family: "Baskervville";
    font-weight: normal;
    display: block;
}

.footer .footer-content p {
    font-size: 40px;
    /* font-family: "Great Vibes"; */
    font-family: "Playfair";
    color: #000000;
    margin: 0;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
}

/* Copyright */

p.copyright-text {
    background-color: #D8B1AC;
    text-align: center;
    font-size: 14px;
    padding: 20px 15px;
    color: #555555;
    border-top: 1px solid #cccccc;
}
