.btn-1:hover,
.accommodation-section .accommodation-item-inner span,
.faq-section .faq-item-inner span, i,
.couple-section .couple i.fa-heart {
    color: #c4cbac;
}

.btn-1,
.event-section .event-item-inner::before,
.event-section .menu-item-inner::before,
.event-section .test-menu-item-inner::before,
.accommodation-section .accommodation-item-inner::before,
.faq-section .faq-item-inner::before,
.couple-section .couple img {
    border-color: #c4cbac;
}

.btn-1,
.people-section .filter-btn.active,
.event-section {
    background-color: #c4cbac;
}

.header .nav ul li a.active,
.header .nav ul li a:hover,
.header .logo a:hover {
    color: #eaecee;
}

.header.fixed .nav ul li a.active,
.header.fixed .nav ul li a:hover,
.header.fixed .logo a:hover {
    color: #c4cbac;
}

.rsvp-section {
    background-color: #D8B1AC;
}
