.btn-1:hover,
.event-section .event-item-inner span,
.accommodation-section .accommodation-item-inner span,
.faq-section .faq-item-inner span,
.story-section .story-item i,
.story-section .story-text h3,
.couple-section .couple h3,
.couple-section .couple i.fa-heart,
.header .nav ul li a.active,
.header .nav ul li a:hover {
    color: #b6c1a2;
}

.btn-1,
.event-section .event-item-inner::before,
.accommodation-section .accommodation-item-inner::before,
.faq-section .faq-item-inner::before,
.couple-section .couple img {
    border-color: #b6c1a2;
}

.rsvp-section, .btn-1,
.people-section .filter-btn.active,
.event-section {
    background-color: #b6c1a2;
}